<nav id="sidebar">
  <div class="sidebar-header">
    <h3>U-Safe Demo</h3>
  </div>

  <ul class="list-unstyled components">
    <li class="active"><a href="/users">Users</a></li>

    <li class="active">
      <a href="#tokensSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tokens</a>
      <ul class="collapse list-unstyled" id="tokensSubmenu">
        <li><a href="/token-operations">Basic operations</a></li>
        <li><a href="/reader-update">Update reader</a></li>
      </ul>
    </li>

    <li class="active">
      <a href="#toolsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tools</a>
      <ul class="collapse list-unstyled" id="toolsSubmenu">
        <li><a href="/delegate-authentication">Authentication with delegate</a></li>
        <li><a href="/emergency-facade">Emergency facade</a></li>
        <li><a href="/regexp">Regexp test</a></li>
      </ul>
    </li>

    <li class="active">
      <a href="#mobileSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mobile</a>
      <ul class="collapse list-unstyled" id="mobileSubmenu">
        <li><a href="/mobile-request-1">Mobile requests 1.0</a></li>
        <li><a href="/mobile-request-3">Mobile requests 3.0</a></li>
        <li><a href="/mobile-user">Prepare mobile user</a></li>
      </ul>
    </li>
  </ul>
</nav>