<div class="container">
    <form [formGroup]="readerForm">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group form-inline">
            <label for="id">Reader id</label>
            <input type="text" id="id" formControlName="id" class="form-control ml-3" value="">
            <button type="button" class="btn btn-success ml-3" (click)="onLoad()" [disabled]="reader != null">Load Reader</button>
          </div>
        </div>
      </div>
      <div id="reader-data" *ngIf="reader != null">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group form-inline">
              <label for="validFrom">Valid From</label>
              <input type="date" id="validFrom" formControlName="validFrom" class="form-control ml-3" [value]="reader.validFrom | date:'yyyy-MM-dd'">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group form-inline">
              <label for="validTo">Valid To</label>
              <input type="date" id="validTo" formControlName="validTo" class="form-control ml-3" [value]="reader.validTo | date:'yyyy-MM-dd'">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group form-inline">
              <label for="isActive">Is Active</label>
              <input type="checkbox" id="isActive" formControlName="isActive" class="form-control ml-3" [value]="reader.isActive">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-success" (click)="onSave()" [disabled]="!readerForm.valid">Save</button>
            <button type="button" class="btn btn-warning" (click)="onReset()">Reset Data</button>
            <button type="button" class="btn btn-danger" (click)="onDelete()" [disabled]="!readerForm.value['id']">Delete</button>
          </div>
        </div>
      </div>
    </form>
  </div>