<div class="container">
  <form [formGroup]="userForm">
    <div class="form-group row">
      <label for="id" class="col-sm-2 col-form-label">User id</label>
      <div class="col-sm-4">
        <input type="text" id="id" formControlName="id" class="form-control form-control-sm" value="">
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-success btn-sm" (click)="onLoad()" [disabled]="user != null">Load User</button>
      </div>
    </div>
    <div id="user-data" *ngIf="user != null">
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">User password</label>
        <div class="col-sm-4">
          <input type="password" id="password" formControlName="password" class="form-control form-control-sm" [value]="user.password">
        </div>
      </div>
      <div class="form-group row">
        <label for="creationDate" class="col-sm-2 col-form-label">Creation Date</label>
        <div class="col-sm-4">
          <input type="date" id="creationDate" formControlName="creationDate" class="form-control form-control-sm" [value]="user.creationDate | date:'yyyy-MM-dd'">
        </div>
      </div>
      <div class="form-group row">
        <label for="cancellationDate" class="col-sm-2 col-form-label">Cancellation Date</label>
        <div class="col-sm-4">
          <input type="date" id="cancellationDate" formControlName="cancellationDate" class="form-control form-control-sm" [value]="user.cancellationDate | date:'yyyy-MM-dd'">
        </div>
      </div>
      <div class="form-group row">
        <label for="lastActivityDate" class="col-sm-2 col-form-label">Last Activity Date</label>
        <div class="col-sm-4">
          <input type="date" id="lastActivityDate" formControlName="lastActivityDate" class="form-control form-control-sm" [value]="user.lastActivityDate | date:'yyyy-MM-dd'">
        </div>
      </div>
      <div class="form-group row">
        <label for="userState" class="col-sm-2 col-form-label">User State</label>
        <div class="col-sm-4">
          <select id="userState" formControlName="userState" class="form-control form-control-sm" [value]="userState[user.userState]">
            <option *ngFor="let userState of userStates" [value]="userState">{{userState}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success btn-sm" (click)="onSave()" [disabled]="!userForm.valid">Save</button>
          <button type="button" class="btn btn-warning btn-sm" (click)="onReset()">Reset Data</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="onDelete()" [disabled]="!userForm.value['id']">Delete
            User
          </button>
        </div>
      </div>
    </div>
  </form>
</div>