<div class="container">
  <form [formGroup]="delegateForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="sessionSubtype" class="col-sm-2 col-form-label">Session Subtype</label>
      <div class="col-sm-4">
        <select id="sessionSubtype" formControlName="sessionSubtype" class="form-control form-control-sm">
          <option *ngFor="let subtype of sessionSubtypes" [value]="subtype">{{subtype}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="sessionId" class="col-sm-2 col-form-label">Session Id</label>
      <div class="col-sm-4">
        <input type="number" id="sessionId" formControlName="sessionId" class="form-control form-control-sm">
      </div>
    </div>
    <div class="form-group row">
      <label for="randomSessionId" class="col-sm-2 col-form-label">Randomized Session Id</label>
      <div class="col-sm-4">
        <input type="number" id="randomSessionId" formControlName="randomSessionId" class="form-control form-control-sm">
      </div>
    </div>
    <div class="form-group row">
      <label for="userId" class="col-sm-2 col-form-label">User Id</label>
      <div class="col-sm-4">
        <input type="number" id="userId" formControlName="userId" class="form-control form-control-sm">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-4">
        <input type="password" id="password" formControlName="password" class="form-control form-control-sm" autocomplete="new-password">
      </div>
    </div>
    <button class="btn btn-sm btn-success" [disabled]="!delegateForm.valid">Submit</button>
    <button type="button" class="btn btn-sm btn-warning" (click)="onReset()">Reset Data</button>
  </form>
</div>