<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="row flex-xl-nowrap w-100">
          <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
        <!--<div class="container-fluid">
          <router-outlet></router-outlet>
        </div>-->
    </nav>
  </div>
</div>