<div class="container">
  <form class="mb-3" [formGroup]="signObjectForm" (ngSubmit)="onSubmitSignObjectForm()">
    <div class="card">
      <h6 class="card-header">Sign Single Object</h6>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="objectId">Object Id</label>
          <div class="col-sm-4">
            <input type="number" id="objectId" formControlName="objectId" class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="objectType">Object Type</label>
          <div class="col-sm-4">
            <select id="objectType" formControlName="objectType" class="form-control form-control-sm">
              <option *ngFor="let type of objectTypes" [value]="type">{{type}}</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-sm btn-success" [disabled]="!signObjectForm.valid">Sign</button>
        <button type="button" class="btn btn-sm btn-warning" (click)="onReset()">Reset Data</button>
      </div>
    </div>
  </form>

  <form class="mb-3" [formGroup]="signObjectsForm" (ngSubmit)="onSubmitSignObjectsForm()">
    <div class="card">
      <h6 class="card-header">Sign All Objects</h6>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="objectType">Objects Type</label>
          <div class="col-sm-4">
            <select id="objectType" formControlName="objectType" class="form-control form-control-sm">
              <option *ngFor="let type of objectTypes" [value]="type">{{type}}</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-sm btn-success" [disabled]="!signObjectsForm.valid">Sign All</button>
        <button type="button" class="btn btn-sm btn-warning" (click)="onReset()">Reset Data</button>
      </div>
    </div>
  </form>
  <div class="mb-3">
    <div class="card">
      <h6 class="card-header">Sign the Whole Database</h6>
      <div class="card-body">
        <div class="col-sm-4">
          <button class="btn btn-sm btn-success" (click)="onSignDB()">Sign Whole DB</button>
        </div>
      </div>
    </div>
  </div>
</div>